#!/usr/bin/make -f
export DH_VERBOSE = 1
export DH_OPTIONS = -v
# debuild sets some warnings that don't work well
# for our curent build..so try to remove those flags here:
export CFLAGS:=$(subst -Wformat,,$(CFLAGS))
export CFLAGS:=$(subst -Werror=format-security,,$(CFLAGS))
export CXXFLAGS:=$(subst -Wformat,,$(CXXFLAGS))
export CXXFLAGS:=$(subst -Werror=format-security,,$(CXXFLAGS))

%:
	dh $@ --with systemd

override_dh_auto_configure:
	env
	rm -rf bld
	mkdir -p bld
	cd bld && \
	cmake .. -G Ninja \
		-DCMAKE_INSTALL_PREFIX=/opt/MUSO \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_UNITY_BUILD_BATCH_SIZE=10 \
		-Dstatic=ON \
		-Dvalidator_keys=ON \
		-DCMAKE_VERBOSE_MAKEFILE=ON

override_dh_auto_build:
	cd bld && \
	cmake --build . --target MUSO --target validator-keys --parallel -- -v

override_dh_auto_install:
	cd bld && DESTDIR=../debian/tmp cmake --build . --target install -- -v
	install -D bld/validator-keys/validator-keys debian/tmp/opt/MUSO/bin/validator-keys
	install -D Builds/containers/shared/update-MUSO.sh debian/tmp/opt/MUSO/bin/update-MUSO.sh
	install -D bin/getMUSOInfo debian/tmp/opt/MUSO/bin/getMUSOInfo
	install -D Builds/containers/shared/update-MUSO-cron debian/tmp/opt/MUSO/etc/update-MUSO-cron
	install -D Builds/containers/shared/MUSO-logrotate debian/tmp/etc/logrotate.d/MUSO
	rm -rf debian/tmp/opt/MUSO/lib64/cmake/date
	rm -rf bld
	rm -rf bld_vl


